<div ng-controller="app.views.home as vm">
    <h1>@L("WelcomeMessage")</h1>
    <p class="lead">@L("Home_ThisIsATemplate")</p>
    <div class="row">
        <div class="col-lg-12">
            <p>
                <a ui-sref="assethealthdashboard" class="btn btn-sq-lg btn-indigo">
                    <i class="fa fa-heartbeat fa-5x"></i><br />
                    Asset Health
                </a>
                <a ui-sref="assethealthdashboard2" class="btn btn-sq-lg btn-indigo">
                    <i class="fa fa-bullseye fa-5x"></i><br />
                    Asset Health (alt)
                </a>
                <a ui-sref="iowdashboard" class="btn btn-sq-lg btn-primary">
                    <i class="fa fa-bar-chart fa-5x"></i><br />
                    Integrity<br />Operating<br />Windows
                </a>
                <a ui-sref="assetlist" class="btn btn-sq-lg btn-success">
                    <i class="fa fa-tags fa-5x"></i><br />
                    Assets
                </a>
                <a ui-sref="imagelist" class="btn btn-sq-lg btn-dimgray">
                    <i class="fa fa-map-o fa-5x"></i><br />
                    Documents and<br />Images
                </a>
                <a ui-sref="taglist" class="btn btn-sq-lg btn-info">
                    <i class="fa fa-database fa-5x"></i><br />
                    Process Data
                </a>
                <a ui-sref="userlist" class="btn btn-sq-lg btn-sienna">
                    <i class="fa fa-user fa-5x"></i><br />
                    Administration
                </a>
            </p>

        </div>
    </div>
</div>