<div ng-controller="app.views.assettype.edit as vm">
    <div class="container">
        <div class="row">
            <h3>@L("AllAssetTypes")</h3>
        </div>
         <div class="row">
            <div id="grid1" ui-grid="vm.gridOptions" class="grid" ui-grid-edit ui-grid-row-edit ui-grid-cellNav></div>
        </div>
        <div class="row">
            <a ui-sref="assetlist" class="btn btn-primary btn-sm"><i class="fa fa-tags"></i> @L("AssetBtnCancelAssetTypeChanges")</a>
            <button ng-click="vm.addNewItem()" type="submit" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> @L("AssetBtnAddNewAssetType")</button>
            <button ng-click="vm.saveAll()" type="submit" class="btn btn-success btn-sm"><i class="fa fa-floppy-o"></i> @L("AssetBtnSaveAssetTypeChanges")</button>
        </div>
    </div>
</div>