<div class="panel panel-default" ng-controller="app.views.variable.list as vm">
    <div class="panel-heading" style="position: relative;">
        <div class="row">
            <h3 class="panel-title">
                @L("IowVariableList")
            </h3>
        </div>
    </div>
    <div class="panel-body">
        <div id="grid1" ui-grid="vm.gridvariables" class="grid"></div>
    </div>
</div>
