<div ng-controller="app.views.assethealth.dashboard as vm">
    <div class="container">
        <div class="row">
            <h3>Asset Health Dashboard</h3>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h4>Metrics</h4>
                <div class="table-responsive">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Asset Type</th>
                                <th>Level</th>
                                <th>Value</th>
                                <th>Warning</th>
                                <th>Error</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="m in vm.metrics">
                                <td>{{m.assetTypeName}}</td>
                                <td>{{m.criticality}} - {{m.levelName}}</td>
                                <td>{{m.value}}</td>
                                <td>{{m.warning}}</td>
                                <td>{{m.error}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-6">
                <h4>@L("IOWVariables")</h4>
                <a ui-sref="iowvariablelist" class="btn btn-info btn-sm"><i class="fa fa-sitemap"></i> @L("IOWVariables")</a>
                <a ui-sref="iowlimitstatus" class="btn btn-info btn-sm"><i class="fa fa-crosshairs"></i> @L("IowTtlLimitStatus")</a>
                <p><i>...coming soon...</i></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                    <h4>Notices</h4>
                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-envelope-o"></i> Notices</a>
                    <p><i>...coming soon...</i></p>
            </div>
            <div class="col-sm-6">
                    <h4>Resources</h4>
                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-envelope-o"></i> Images</a>
                    <p><i>...coming soon...</i></p>
            </div>
        </div>
    </div>
</div>