<div ng-controller="app.views.tag.data as vm">
    <div class="container">
        <div class="row">
            <h3>{{vm.name}} <small> {{vm.description}}</small></h3>
        </div>
        <div class="row">
            @*<div class="col-xs-6">
                <table class="table">
                    <thead>
                        <tr>
                            <th>@L("Time")</th>
                            <th>{{vm.uom}}</th>
                            <th>@L("Quality")</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in vm.data">
                            <td>{{item.timestamp | momentFromNow2}}</td>
                            <td>{{item.value | number: vm.precision}}</td>
                            <td>{{item.quality | tagQuality}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>*@
            <div id="chartContainer" style="width:100%; height:400px;"></div>
        </div>
        <div class="row">
            <a ui-sref="taglist" class="btn btn-primary btn-sm"><i class="fa fa-database"></i> @L("Tags")</a>
        </div>
    </div>
</div>