<div ng-controller="app.views.tag.data as vm">
    <div class="container">
        <div class="row">
            <h3>{{vm.name}} <small> {{vm.description}}</small></h3>
        </div>
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th>@L("Time")</th>
                        <th>{{vm.uom}}</th>
                        <th>@L("Quality")</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in vm.data">
                        <td>{{item.timestamp | momentFromNow2}}</td>
                        <td>{{item.value}}</td>
                        <td>{{vm.qualitystatus[item.quality]}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>